/* css reset start */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset end*/

*, *:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: "Noto Sans TC", sans-serif; 
}
.menu{
  display: flex;
  justify-content: center;
  font-weight: 700;
  gap: 20px;
  padding: 24px 0;
}
.menu a{
  font-size: 28px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.menu li:hover{
  background: yellow;
}
.banner{
  display: flex;
  border: 1px solid #6C757D;
}
.banner img{
  max-width: 50%;
}
.banner .into{  
  flex-direction: column;
  align-self: center;
  max-width: 50%;
  padding-left: 24px; 
  line-height: 1.5; 
}
.banner .into h3{
  color: #0027D5;
  font-size: 24px;
}
.banner .into a{
  font-weight: 700;
  text-decoration: none;
  color: #FFF;
  background-color: #0027D5;
  border: 1px solid #0027D5;
  border-radius: 20px;
  margin-left: 8px;  
  padding: 8px;
  font-size: 16px;
}
.banner .into h2{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}
.content{
  margin: 0 auto;
  max-width: 636px;
  padding: 50px 0px 80px 0;
}
.content .row {
  padding-bottom: 30px;
}
.content .row h2{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #0027D5;
  padding-bottom: 10px;
}
.content .row p{
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 10px;
}
.content .row img{
  padding-bottom: 20px;
}
.content .row h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content .row ol{
  margin-bottom: 20px;
}
.content .row ol li{
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -1.5rem;
  padding-left: 1.5em;
  margin-bottom: 10px; 
}
.content .row ul{
  list-style: disc;
  list-style-position: inside;
  padding-left: 0.5rem;
  margin-bottom: 20px;
}
.content .row ul li{
  text-indent: -1.5rem;
  padding-left: 1.5em;
  line-height: 1.5;
}
.summary {  
  border-radius: 24px;
  background-color: #EDEDED;
  padding: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.summary p{
  font-weight: 700;
  line-height: 1.5;
}
.pager{
  display: flex;
  justify-content: space-between;
}
.pager li a{
  color: #4B4B4B;
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 8px 16px;
  margin-bottom: 80px;
  gap: 4px;
  text-decoration: none;
}
.pager li a:hover{
  background: yellow;
}
.contact {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  border-top: 1px solid #000;
}
.email a{
  font-size: 32px;
  color: #000;
  padding: 80px 0;
  text-decoration: none;
}
.social ul{
  display: flex;
  justify-content: center;
}
.social a{
  text-decoration: none;
}
.footer {
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 768px) {
	.menu {
		align-items: center;
	}
  .banner{
    flex-wrap: wrap;
  }
  .banner img{
    max-width: 100%;
    display: block;
  }
  .banner .into{  
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .content{
    padding: 64px 12px;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .contact {
    display: none;
  }
}